@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}
:root {
    --black: #282828;
    --white: #fff;
    --gray-100: #fcfcfc;
    --gray-200: #f8f8f8;
    --gray-300: #f2f2f2;
    --gray-400: #e8e8e8;
    --gray-500: #bbb;
    --gray-600: #888;
    --blue-100: #f8f9ff;
    --blue-600: #2e55fa;
    --blue-700: #1e3cc5;
    --orange-100: #fff4f0;
    --orange-600: #fd6123;
}



/* start: Global */
body {
    font-family: 'Manrope', sans-serif;
    color: var(--black);
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 16px;
}
section {
    padding: 64px 0;
}
.section-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
}
.section-description {
    color: var(--gray-600);
}
[data-tab] {
    display: none;
}
[data-tab].active {
    display: block;
}
.btn {
    outline: none;
    text-decoration: none;
    display: inline-block;
    transition: all .3s;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 600;
    font-size: 14px;
}
.btn > * {
    vertical-align: middle;
}
.btn > i:first-child {
    margin-right: 6px;
    font-size: 18px;
}
.btn-blue {
    background-color: var(--blue-600);
    color: var(--white);
    padding: 10px 16px;
    border-radius: 6px;
}
.btn-blue:hover {
    background-color: var(--blue-700);
}
.btn-outline-blue {
    background-color: transparent;
    color: var(--blue-600);
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid var(--blue-600);
}
.btn-outline-blue:hover {
    background-color: var(--blue-600);
    color: var(--white);
}
.overflow-hidden {
    overflow: hidden;
}
/* end: Global */



/* start: Navbar */
nav {
    padding: 16px 0;
    background-color: var(--white);
    position: relative;
}
.navbar-wrapper {
    display: flex;
    align-items: center;
}
.navbar-logo {
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
    color: var(--black);
    margin-right: 32px;
}
.navbar-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: auto;
}
.navbar-menu > li {
    margin-right: 4px;
    position: relative;
}
.navbar-menu > li > a {
    padding: 8px 16px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    color: var(--black);
    font-size: 15px;
    transition: all .3s;
}
.navbar-menu > li > a > * {
    vertical-align: middle;
}
.navbar-menu > li > a:hover {
    background-color: var(--blue-600);
    color: var(--white);
}
.navbar-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: var(--white);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .1);
    list-style-type: none;
    padding: 8px 0;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.navbar-menu > li:hover > .navbar-submenu {
    opacity: 1;
    visibility: visible;
}
.navbar-submenu > li > a {
    display: block;
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    color: var(--black);
}
.navbar-submenu > li > a:hover {
    background-color: var(--gray-200);
    color: var(--blue-600);
}
.navbar-right {
    display: flex;
    align-items: center;
}
.navbar-right > * {
    margin-left: 32px;
}
.navbar-right > :not(.btn) {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: var(--black);
    display: flex;
    align-items: center;
    opacity: .8;
    transition: opacity .3s;
}
.navbar-right > :not(.btn):hover {
    opacity: 1;
}
.navbar-right > :not(.btn) i {
    font-size: 18px;
    margin-right: 8px;
}
.navbar-toggle {
    display: none;
}
/* end: Navbar */



/* start: Hero */
header {
    background-color: var(--blue-100);
    padding: 80px 0;
}
.header-subtitle {
    font-size: 16px;
    font-weight: 700;
    color: var(--blue-600);
    text-align: center;
    margin-bottom: 16px;
}
.header-title {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.header-form {
    padding: 12px 16px;
    background-color: var(--white);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .06);
    border-radius: 8px;
    display: flex;
    align-items: center;
    max-width: 940px;
    margin: 0 auto;
}
.header-form-group {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.header-form-group i {
    font-size: 20px;
    transition: color .3s;
}
.header-form-group:not(:first-child) {
    padding-left: 16px;
    border-left: 1px solid var(--gray-400);
}
.header-form-group input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 12px;
}
.header-form-group input:focus ~ i {
    color: var(--blue-600);
}
/* end: Hero */



/* start: Categories */
.category-tab {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--gray-400);
}
.category-tab > a {
    text-decoration: none;
    color: var(--gray-600);
    font-weight: 600;
    padding: 16px;
    transition: color .3s;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
}
.category-tab > a:hover {
    color: var(--black);
}
.category-tab > a.active {
    color: var(--blue-600);
    border-color: var(--blue-600);
}
.category-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
    margin-top: 48px;
    margin-bottom: 32px;
}
.category-wrapper > * {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--white);
    border: 1px solid var(--gray-300);
    position: relative;
}
.category-wrapper > * img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    transition: transform .3s;
    position: relative;
    z-index: 0;
}
.category-wrapper > :hover img {
    transform: scale(1.1);
}
.category-wrapper > ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
}
.category-item-detail {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px;
}
.category-item-title {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 8px;
    transition: color .5s;
}
.category-item-title:hover {
    text-decoration: underline;
}
.category-item-text {
    color: var(--white);
    transition: color .5s;
    opacity: .8;
}
/* end: Categories */



/* start: Trending */
.trending-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 940px;
    margin: 32px auto 0;
}
.trending-wrapper > * {
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 12px 16px;
    border: 1px solid var(--blue-600);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: var(--blue-600);
    border-radius: 6px;
    transition: all .3s;
}
.trending-wrapper > :hover {
    background-color: var(--blue-100);
}
/* end: Trending */



/* start: Jobs */
.job-wrapper {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr .3fr;
    column-gap: 32px;
    row-gap: 56px;
    margin-top: 48px;
}
.job-wrapper > * {
    display: grid;
}
.job-items {
    display: grid;
    row-gap: 32px;
    column-gap: 24px;
    margin-bottom: 32px;
}
.job-wrapper > :last-child {
    position: sticky;
    top: 24px;
}
.job-item {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    background-color: var(--white);
    border: 1px solid var(--gray-300);
}
.job-item-top {
    display: flex;
    margin-bottom: 24px;
}
.job-item-top img {
    width: 80px;
    height: 80px;
    margin-right: 16px;
    border-radius: 8px;
}
.job-item-title {
    color: var(--black);
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 12px;
}
.job-item-title:hover {
    text-decoration: underline;
}
.job-item-location {
    display: flex;
    align-items: center;
    color: var(--blue-600);
    margin-bottom: 16px;
}
.job-item-location i {
    margin-right: 8px;
}
.job-item-description {
    color: var(--gray-600);
}
.job-item-favourite {
    margin-left: auto;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--blue-600);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    color: var(--blue-600);
    flex-shrink: 0;
}
.job-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.job-item-status {
    padding: 4px 12px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--orange-100);
    color: var(--orange-600);
    border-radius: 4px;
}
.job-item-salary {
    font-size: 20px;
}
.job-banner {
    padding: 32px 24px;
    border-radius: 8px;
    background-image: url(https://plus.unsplash.com/premium_photo-1672997189844-bb66dccf1d2e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8am9ifGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}
.job-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
}
.job-banner > * {
    position: relative;
    z-index: 1;
}
.job-banner-title {
    font-size: 20px;
    font-weight: 800;
    color: var(--white);
    margin-bottom: 8px;
}
.job-banner-text {
    color: var(--white);
    margin-bottom: 24px;
    line-height: 1.5;
    opacity: .8;
}
/* end: Jobs */



/* start: Popular Courses */
.course-container {
    margin-top: 32px;
    position: relative;
    margin-bottom: 16px;
}
.course-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    border: 1px solid var(--gray-400);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    color: var(--black);
    transition: background-color .2s;
    z-index: 1;
}
.course-arrow:hover {
    background-color: var(--gray-200);
}
.course-arrow.prev {
    left: 0;
}
.course-arrow.next {
    right: 0;
}
.course-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 280px;
    gap: 24px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding: 16px 0;
}
.course-wrapper::-webkit-scrollbar {
    display: none;
}
.course-wrapper > * {
    padding: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    border: 1px solid var(--gray-300);
    border-radius: 8px;
    scroll-snap-align: start;
}
.course-item-title {
    text-decoration: none;
    color: var(--blue-600);
    font-weight: 600;
}
.course-item-title:hover {
    color: var(--blue-700);
}
.course-item-user {
    font-size: 14px;
    color: var(--gray-600);
    margin-top: 4px;
    margin-bottom: 12px;
}
.course-item-price {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}
.course-item-info {
    list-style-type: none;
    border-left: 1px solid var(--orange-600);
    padding-left: 12px;
    margin-bottom: 12px;
}
.course-item-info > li {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 4px 0;
    color: var(--gray-600);
}
.course-item-info > li i {
    margin-right: 8px;
    font-size: 16px;
}
.course-item-read-more {
    text-decoration: none;
    color: var(--blue-600);
    font-weight: 500;
    font-size: 14px;
}
.course-item-read-more:hover {
    text-decoration: underline;
}
/* end: Popular Courses */



/* start: Partner */
.partner-section {
    background-color: var(--blue-100);
}
.partner-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 48px;
    column-gap: 64px;
}
.partner-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}
.partner-images img {
    width: 100%;
    padding: 16px 32px;
    border-radius: 8px;
    box-shadow: 0 4px 16px -4px rgba(0, 0, 0, .1);
    background-color: var(--white);
}
/* end: Partner */



/* start: For You */
.for-you-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;
    row-gap: 48px;
    margin-top: 48px;
}
.for-you-wrapper .section-description {
    margin-bottom: 16px;
    line-height: 1.5;
}
.for-you-wrapper .section-title {
    font-size: 24px;
}
.for-you-course-wrapper {
    position: relative;
    margin-top: 24px;
    margin-bottom: 48px;
}
.for-you-course-wrapper img {
    width: 80%;
    border-radius: 8px;
    height: 300px;
    object-fit: cover;
}
.for-you-course-box {
    width: 280px;
    position: absolute;
    bottom: -24px;
    right: 0;
    background-color: var(--white);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    border: 1px solid var(--gray-300);
}
.for-you-career-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.for-you-career-wrapper > * {
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    border-radius: 8px;
}
.for-you-career-wrapper img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}
.for-you-career-item-text {
    height: 130px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.for-you-career-item-title {
    font-weight: 700;
}
.for-you-career-item-learn-more {
    text-decoration: none;
    color: var(--blue-600);
    font-size: 14px;
    font-weight: 500;
}
.for-you-career-item-learn-more > * {
    vertical-align: middle;
}
.for-you-career-item-learn-more:hover {
    text-decoration: underline;
}
/* end: For You */



/* start: Footer */
footer {
    background-color: #222845;
}
.footer-wrapper {
    padding: 48px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 48px;
}
.footer-logo {
    font-size: 22px;
    color: var(--white);
    text-decoration: none;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 12px;
}
.footer-description {
    color: var(--white);
    opacity: .6;
    line-height: 1.5;
    font-size: 14px;
}
.footer-social {
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.footer-social > * {
    margin-right: 8px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .1);
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}
.footer-social > :hover {
    background-color: var(--white);
    color: #222845;
}
.footer-item-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 16px;
}
.footer-link {
    list-style-type: none;
}
.footer-link li {
    margin-bottom: 12px;
}
.footer-link > li > a {
    color: var(--white);
    opacity: .6;
    transition: opacity .3s;
    text-decoration: none;
    font-size: 14px;
}
.footer-link > li > a:hover {
    opacity: 1;
}
.footer-bottom {
    padding: 24px 0;
    background-color: #171d36;
}
.footer-bottom p {
    text-align: center;
    color: var(--white);
    font-size: 14px;
    opacity: .6;
}
/* end: Footer */



/* start: Breakpoints */
@media screen and (max-width: 1400px) {
    .container {
        max-width: 1160px;
    }
}
@media screen and (max-width: 1200px) {
    .container {
        max-width: 940px;
    }

    .job-wrapper {
        grid-template-columns: 1fr .5fr;
    }

    .navbar-right {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .navbar-logo {
        margin-right: auto;
    }

    .category-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .job-wrapper {
        grid-template-columns: 1fr;
    }

    .partner-wrapper {
        grid-template-columns: 1fr;
    }

    .for-you-wrapper {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 767px) {
    .section-title {
        font-size: 24px;
    }

    .navbar-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: calc(100vh - 62px);
        z-index: 100;
        display: none;
        border-top: 1px solid var(--gray-400);
        background-color: var(--white);
        padding: 12px 0;
    }
    .navbar-menu.active {
        display: block;
    }
    .navbar-menu > li {
        margin-right: 0;
    }
    .navbar-menu > li > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0;
        padding: 16px;
        font-size: 17px;
    }
    .navbar-menu > li > a.active {
        background-color: var(--blue-600);
        color: var(--white);
    }
    .navbar-menu > li > a > i {
        transform: rotateZ(-90deg);
    }
    .navbar-menu > li > a.active > i {
        transform: rotateZ(0deg);
    }
    .navbar-submenu {
        position: static;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        background-color: var(--gray-200);
        display: none;
    }
    .navbar-submenu > li > a {
        padding: 16px;
        font-size: 17px;
    }
    .navbar-submenu.active {
        display: block;
    }
    .navbar-toggle {
        text-decoration: none;
        font-size: 20px;
        color: var(--black);
        transition: transform .75s;
        transform-origin: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-toggle.active {
        transform: rotateZ(calc(360deg * 2));
    }

    .header-title {
        font-size: 28px;
    }
    .header-form {
        display: block;
        padding: 16px;
    }
    .header-form-group {
        border-bottom: 1px solid var(--gray-400);
        margin-bottom: 16px;
    }
    .header-form-group:not(:first-child) {
        padding-left: 0;
        border-left: none;
    }
    .header-form-group select,
    .header-form-group input {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .header-form > button {
        width: 100%;
    }
    .header-form-group select {
        background-position: top 15px right 12px, bottom 15px right 12px;
    }

    .category-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    
    .job-item-title {
        font-size: 20px;
    }

    .footer-wrapper {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 575px) {
    .trending-wrapper {
        display: grid;
        justify-content: unset;
        grid-auto-flow: column;
        grid-auto-columns: auto;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
    }
    .trending-wrapper::-webkit-scrollbar {
        display: none;
    }
    .trending-wrapper > * {
        white-space: nowrap;
        scroll-snap-align: start;
    }

    .category-wrapper {
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: 280px;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        gap: 24px;
    }
    .category-wrapper::-webkit-scrollbar {
        display: none;
    }
    .category-wrapper > * {
        scroll-snap-align: start;
    }

    .partner-images {
        grid-template-columns: 1fr 1fr;
    }

    .job-wrapper {
        margin-top: 32px;
    }
    .job-items {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 280px;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        padding: 16px 0;
    }
    .job-items::-webkit-scrollbar {
        display: none;
    }
    .job-item {
        position: relative;
        scroll-snap-align: start;
    }
    .job-item-top {
        display: block;
    }
    .job-item img {
        margin-bottom: 16px;
    }
    .job-item-favourite {
        position: absolute;
        top: 24px;
        right: 24px;
    }
    .job-item-bottom {
        display: block;
    }
    .job-item-status {
        margin-bottom: 16px;
    }

    .for-you-career-wrapper {
        grid-template-columns: 1fr;
    }
}
/* end: Breakpoints */