/* start: Login */
.login-section {
    padding: 0;
}
.login-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.login-wrapper > * {
    padding: 48px 16px;
}
.login-box {
    max-width: 400px;
    margin: 0 auto;
}
.login-box-right {
    max-width: 600px;
}
.login-logo {
    margin-bottom: 32px;
    display: inline-block;
}
.login-logo img {
    height: 32px;
}
.login-form {
    margin-bottom: 32px;
}
.login-form > * {
    margin-bottom: 16px;
    width: 100%;
}
.login-form .form-control {
    width: 100%;
}
.login-text a {
    color: var(--blue-600);
    text-decoration: none;
}
.login-text a:hover {
    text-decoration: underline;
}
.login-right {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--blue-100);
}
.login-right .login-box {
    position: relative;
}
.login-right .login-box p {
    opacity: .8;
    line-height: 1.5;
}
.login-features {
    margin-top: 32px;
}
.login-features > li {
    display: flex;
    align-items: center;
    padding: 12px;
    box-shadow: 0 4px 16px -4px rgba(0, 0, 0, .1);
    margin-bottom: 16px;
    background-color: var(--white);
    border-radius: 6px;
}
.login-features-icon {
    font-size: 28px;
    margin-right: 12px;
    color: var(--blue-600);
}
.login-features-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 4px;
}
.login-features-text {
    color: var(--gray-600);
}
/* end: Login */







/* start: Breakpoints */
@media screen and (max-width: 991px) {
    .login-wrapper {
        grid-template-columns: 1fr;
    }
}
/* end: Breakpoints */